@page "/settings"
<h3>Settings</h3>

<h5>Upload files</h5>
<div>
    <NavLink class="btn btn-primary btn-lg btn-block" href="/settings/counterpicks" Match="NavLinkMatch.All">
        Counter picks
    </NavLink>

    <NavLink class="btn btn-primary btn-lg btn-block" href="/settings/teammates" Match="NavLinkMatch.All">
        Teammates
    </NavLink>
</div>

@code {

}
